---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Manuel Reichel
      </span>
    </h1>
    <p class="text-2xl pb-4">Web Developer. EE Student. Blogger.</p>
  </div>
  <div>
    Welcome to my programming blog! I'm a web developer and an electrical engineering student based in Argentina. In this blog, we'll explore the world of web development, dive into coding languages, and share practical insights in the tech industry.
  </div>
</section>
