---
import HeaderLink from "./HeaderLink.astro";
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Manuel Reichel
      </span>
    </h1>
    <p class="text-2xl pb-4">Electronic Engineer - Devops</p>
  </div>
  <div>
    
Welcome to my programming blog! I'm an electronic engineer based in Argentina. This blog is oriented towards cloud and DevOps, where we'll explore coding languages, delve into the world of web development, and share practical insights in the tech industry.
  </div>
</section>
